.cardItem{
  color: var(--xpress-text-1);
  margin: 1rem .8rem;
  width: 290px;
  h4{
    font-size: 1rem;
    margin: 1rem 0 0 .3rem;
  }
  h5{
    font-size: 1rem;
    margin: .2rem 0 0 .3rem;
    color: var(--xpress-text-2);
  }
  h6{
    margin: .2rem 0 0 .3rem;
    font-size: 1rem;
    font-family: Xpress-bold;
  }
  img{
    width: 288px;
    height: 288px;
  }
  &:hover{
    text-decoration: underline;
  }
}
.cardItem_link{
  text-decoration: none;
}