

.home{
  display: grid;
  grid-template-columns: 1fr 1280px 1fr;
  grid-template-rows: 170px 376px 750px 750px 750px 400px 400px;
  // @media(max-width: 600px){
  // grid-template-columns: 100vw;
  //   grid-template-rows: 80px 110vh 60vh 100px;
  // }
}
.women{
  background-color: var(--xpress-background-W);
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  z-index: -10;

}
.men{
  background-color: var(--xpress-background-M);
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  z-index: -10;
}
.footer_bottom{
  background-color: var(--xpress-background-contrast);
  grid-column: 1 / 4;
  grid-row: 7 / 8;
  z-index: -10;
}
.home_footer{
  grid-column: 2 / 3;
  grid-row: 6 / 8;
}