.itemContainer{
  margin-top: 100px;
  grid-row: 3/ 4;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 35px;
    margin-bottom: 1rem;
  }
  h5{
    font-size: 20px;
  }
  button{
    display: none;
  }
}
.itemContainer1{
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2{
    font-size: 35px;
    margin-bottom: 1rem;
  }
  h5{
    font-size: 20px;
  }
  button{
    @include xpress_button();
    margin-top: 2rem;
  }
}
.itemContainer2{
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 35px;
    margin-bottom: 1rem;
  }
  h5{
    font-size: 20px;
  }
  button{
    @include xpress_button();
    margin-top: 2rem;
  }
}
.cardContainer{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
