
:root{
  /**Colors **/
  --xpress-background-1:#FFFFFF;
  --xpress-background-2:#F5F5F5;
  --xpress-background-M:#A4D1FF;
  --xpress-background-W:#FEC5CD;
  --xpress-background-contrast:#000000; 

  --xpress-text-1: #000000;
  --xpress-text-2: #7D7D7D;
  --xpress-text-contrast: #FFFFFF;

  --xpress-border-1: #A2A2A2;
  --xpress-border-2: #000000;
}